<div class="col-lg-12 row">
  <div class="col-lg-6">
    <h1><span class="text-primary">Z</span>hilong <span class="text-primary">L</span>iang</h1>
    <p>Software Developer</p>
    <p>I am an innovative and creative person. My passion lays within the
      advancement of technology and creating functional application. My
      friends call me Kevin and I am excited to learn and grow my
      knowledge base.</p>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" [hidden]="!isImgLoaded">
      <div class="carousel-inner rounded-4">
        <!-- <div class="carousel-indicators">
        <button type="button" *ngFor="let img of arrCarouselImg; index as i"
        data-bs-target="#carousel" [attr.data-bs-slide-to]="i" [ngClass]="{'active':i==1}" aria-current="true" [attr.aria-label]="'img'+i"></button>
      </div> -->
        @for (img of arrCarouselImg; track img; let i = $index) {
        <div class="carousel-item" [ngClass]="{'active':i===1}">
          <img [hidden]="!isImgLoaded" loading="eager" [src]=img class="d-block w-100" alt="carousel{{i}}"
            (load)="isImgLoaded = true" />
        </div>
        }
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-lg-6 z-1 align-content-center">
    <img class="w-100 rounded-4" src='assets/arknights-nian.gif' alt="pfp" />
  </div>
</div>
<div class="card p-4 my-3 rounded-5 shadow">
  <h3 class="text-primary" #SkillSets>SKILL SETS</h3>
  <div>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">C#</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">Angular</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">Python</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">MS SQL Server</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">MySQL</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">Zig</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">JavaScript</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">TypeScript</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">Java</button>
    <button class="btn btn-outline-primary rounded-pill px-4 me-2">Laravel</button>
    <button class="btn btn-outline-primary rounded-pill px-4">.NET</button>
  </div>
  <hr class="trans--grow hr1" #transGrow />
  <h3 class="text-primary" #Education>EDUCATION</h3>
  <div class="col-lg-12 row">
    <div class="col-lg-6">
      <h5>Matric Certificate</h5>
      <span>Willowridge High School</span><br />
      <span class="text-secondary-emphasis">01/2014 - 12/2018</span>
    </div>
    <div class="col-lg-6">
      <h5>Information Technology: System Development</h5>
      <span>CTU Training Solution</span><br />
      <span class="text-secondary-emphasis">01/2019 - 12/2023</span>
    </div>
  </div>
  <hr class="trans--grow hr1" #transGrow />
  <h3 class="text-primary" #Certifications>CERTIFICATIONS</h3>
  <div class="row">
    <div class="col-lg-6 my-2">
      <h5>Microsoft Certified: Azure Database Administrator Associate</h5>
      <div>
        <button class="btn btn-outline-primary rounded-pill px-3 my-1 me-3"
          (click)="viewFile('Credentials_ZhilongLiang_4664_AzureDatabaseAdministratorAssociate.pdf')"><i
            class="bi bi-file-earmark-pdf me-1"></i>View</button>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          target="_blank"
          href="https://learn.microsoft.com/en-gb/users/zhilongliang-4664/credentials/a479ba66473c157">View on
          Microsoft</a>
      </div>
    </div>
    <div class="col-lg-6 my-2">
      <h5>Microsoft Certified: DevOps Engineer Expert</h5>
      <div>
        <button class="btn btn-outline-primary rounded-pill px-3 my-1 me-3"
          (click)="viewFile('Credentials_ZhilongLiang_4664_DevOps_Engineer_Expert.pdf')"><i
            class="bi bi-file-earmark-pdf me-1"></i>View</button>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          target="_blank"
          href="https://learn.microsoft.com/en-gb/users/zhilongliang-4664/credentials/bd2700599055f76f">View on
          Microsoft</a>
      </div>
    </div>
    <div class="col-lg-6 my-2">
      <h5>Microsoft Certified: Azure Developer Associate</h5>
      <div>
        <button class="btn btn-outline-primary rounded-pill px-3 my-1 me-3"
          (click)="viewFile('Credentials_ZhilongLiang_4664_Azure_Developer_Associate.pdf')"><i
            class="bi bi-file-earmark-pdf me-1"></i>View</button>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          target="_blank"
          href="https://learn.microsoft.com/en-gb/users/zhilongliang-4664/credentials/ad9659f137b6be27">View on
          Microsoft</a>
      </div>
    </div>
  </div>
  <hr class="trans--grow hr1" #transGrow />
  <h3 class="text-primary" #Experience>Work Experience</h3>
  <div class="col-12">
    <h5>Automate</h5>
    <span>Formerly known as Britehouse Automotive undergone a transition
      <sup><a target="_blank"
          href="https://www.volarisgroup.com/press-room/volaris-automotive-acquires-britehouse-automotive-expanding-its-footprint-in-the-automotive-software-solutions-market/"><i
            class="bi bi-arrow-up-right-square"></i></a></sup>
      of it's parent company from <a
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="https://en.wikipedia.org/wiki/Dimension_Data">
        NTT Dimension Data</a> to <a
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        target="_blank" href="https://www.volarisgroup.com/">Volaris Group</a></span><br />
    <span class="text-secondary-emphasis">08/2022 - Current</span>
    <ul class="list-group list-group-flush w-fit-content">
      <li class="list-group-item fs-5 fw-bold">Major Projects Involved:</li>
      <li class="list-group-item">Toyota Team - Internal Dealership System, Mobile App</li>
      <li class="list-group-item">Toyota Team - API Rewrite (.NET Framework 4.8 => .NET 6)</li>
      <li class="list-group-item">McCarthy Team - Dealership Website</li>
      <li class="list-group-item">McCarthy Team - Internal Admin System</li>
      <li class="list-group-item">McCarthy Team - 2 Internal Admin System Rewrite (AngularJS => Angular 18)</li>
      <li class="list-group-item">McCarthy Team - API Rewrite (.NET Framework 4.7.2 => .NET 8)</li>
      <li class="list-group-item">McCarthy Team - Internal Training Portal Application Rewrite (AngularJS => Angular 18)
      </li>
      <li class="list-group-item">McCarthy Team - Full Stack Client Onboarding Application</li>
    </ul>
  </div>
</div>


<app-modal #modalComp></app-modal>