<main class="container-xl mt-5">
    <div class="col-lg-12 row">
        <div class="col-lg-6">
            <h1><span class="text-primary">Z</span>hilong <span class="text-primary">L</span>iang</h1>
            <p>Software Developer</p>
            <p>I am an innovative and creative person. My passion lays within the
                advancement of technology and creating functional application. My
                friends call me Kevin and I am excited to learn and grow my
                knowledge base.</p>
        </div>
        <div class="col-lg-6">
            <img src="../../assets/starebean.png"/>
        </div>
    </div>
    <hr/>
    <div class="card p-4 shadow">
        <div class="col-lg-12 row">
            <div class="col-lg-6">
                <h3>EDUCATION</h3>
                <h6>Matric Certificate</h6>
                <p>Willowridge High School</p>
                <p class="text-primary-emphasis">01/2014 - 12/2019</p>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</main>
