<ng-template #pdfModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-pdf-title">PDF Viewer</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body overflow-y-hidden">
    <object *ngIf="pdfUrl" [data]="pdfUrl" type="application/pdf" width="100%" height="100%">
      <p>Your browser does not support PDFs. <a [href]="pdfUrl" target="_blank">Download the PDF</a>.</p>
    </object>
  </div>
</ng-template>