.carousel-caption {
  right: 0%;
  left: 0%;
}

.carousel-indicators [data-bs-target] {
  background-color: whitesmoke;
  width: 10px;
  transition:
    opacity,
    width 0.6s ease;
}

.carousel-inner {
  // border: solid rgba(121, 120, 120, 0.203);
  // border-top-width: 1px;
  // border-left-width: 1px;
  // border-bottom-width: 0;
  // border-right-width: 0;

  .carousel-item {
    height: 75vh;
    position: relative;
  }
}

.intro-glass {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  transition:
    background 0.3s,
    color 0.3s;
}

@media (max-width: 992px) {
  #project-description {
    font-size: 0.9rem;
  }
}
