.carousel-caption {
    right: 5%;
    left: 5%;
}

.carousel-indicators [data-bs-target] {
    background-color: whitesmoke;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: opacity, width .6s ease;
}

.carousel-inner {
    border: solid rgba(121, 120, 120, 0.203);
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
}