.home-ani {
    text-align: center;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: none;
        border-radius: 10px;
        z-index: -2;
        border: none;
        border-radius: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: var(--bs-light-text-emphasis);
        background-color: transparent;
        border: var(--bs-primary);
        border-style: solid;
        border-width: 0px;
        border-radius: 10px;
        transition: all .1s;
        z-index: -1;
    }

    &:hover {
        color: var(--bs-primary) !important;

        &:before {
            height: 100%;
            width: 100%;
            border-width: 2px;
        }
    }
}

.navbar {
    background-color: var(--bs-body-bg) !important;
    filter: brightness(1.3);
}

.logo-img{
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
    @media only screen and (min-width: 601px) {
        height: 100%;
    }
}

.backdrop-blur{
    backdrop-filter: blur(10px) !important;
}

// #bd-theme:hover,#bd-theme:active, #bd-theme.show {
//     color: var(--bs-light) !important;
// }
.dropdown-item:hover {
    background: var(--bs-gray);
}

.btn-bd-linkedin {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-light-subtle);
    --bs-btn-border-color: var(--bs-light-subtle);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-blue);
    --bs-btn-hover-border-color: var(--bs-blue);
    --bs-btn-focus-shadow-rgb: var(--bs-blue);
    --bs-btn-active-color: var(--bs-blue);
    --bs-btn-active-bg: #{shade-color(var(--bs-blue), 20%)};
    --bs-btn-active-border-color: #{shade-color(var(--bs-blue), 20%)};
}
.btn-bd-github {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-light-subtle);
    --bs-btn-border-color: var(--bs-light-subtle);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgb(141 50 171);
    --bs-btn-hover-border-color: rgb(141 50 171);
    --bs-btn-focus-shadow-rgb: rgb(141 50 171);
    --bs-btn-active-color: rgb(141 50 171);
    --bs-btn-active-bg: #{shade-color(rgb(141 50 171), 20%)};
    --bs-btn-active-border-color: #{shade-color(rgb(141 50 171), 20%)};
}
.btn-bd-theme {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-light-subtle);
    --bs-btn-border-color: var(--bs-light-subtle);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: #{shade-color(var(--bs-primary), 0%)};
    --bs-btn-active-border-color: #{shade-color(var(--bs-primary), 0%)};
}

.btn-bd-github:hover, .btn-bd-github:active, 
.btn-bd-linkedin:hover, .btn-bd-linkedin:active {
    color: var(--bs-light) !important;
}

.font-plaster {
    font-family: 'Plaster' !important;
    font-weight: 400;
    font-style: normal;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-icon{
    width: 90px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg) scale(0.6);
    -moz-transform: rotate(0deg) scale(0.6);
    -o-transform: rotate(0deg) scale(0.6);
    transform: rotate(0deg) scale(0.6);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--bs-primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg) scale(0.6);
    -moz-transform: rotate(0deg) scale(0.6);
    -o-transform: rotate(0deg) scale(0.6);
    transform: rotate(0deg) scale(0.6);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 18px;
}

#nav-icon span:nth-child(3) {
    top: 36px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg) scale(0.6);
    -moz-transform: rotate(135deg) scale(0.6);
    -o-transform: rotate(135deg) scale(0.6);
    transform: rotate(135deg) scale(0.6);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg) scale(0.6);
    -moz-transform: rotate(-135deg) scale(0.6);
    -o-transform: rotate(-135deg) scale(0.6);
    transform: rotate(-135deg) scale(0.6);
}