* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wave-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background: var(--wave-base);
  --wave-base: #232a2e;
  --wave-3: #3c4841;
  --wave-2: #dfa000;
  --wave-1: #8da101;
}

.wave-svg {
  width: 120vw;
  height: 100vh;
  display: block;
  position: absolute;
  left: -10vw;
  top: 0;
}

.wave-layer {
  fill: var(--wave-1);
}

.wave-layer-1 {
  fill: var(--wave-1);
  opacity: 0.9;
}

.wave-layer-2 {
  fill: var(--wave-2);
  opacity: 1;
}

.wave-layer-3 {
  fill: var(--wave-3);
  opacity: 1;
}

@media (max-width: 1000px) {
  .wave-svg {
    width: 160vw;
    left: -30vw;
  }
}

// .wave-bg {
//     position: fixed;
//     inset: 0;
//     width: 100vw;
//     height: 100vh;
//     z-index: 0;
//     pointer-events: none;
//     overflow: hidden;
// }
//
// .wave-svg {
//     width: 120vw;
//     height: 100vh;
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -1;
// }
//
// @media (max-width: 1000px) {
//     .wave-bg {
//         width: 1920px;
//         height: 100vh;
//     }
//
//     .wave-svg {
//         width: 1920px;
//         height: 100vh;
//         min-width: 1920px;
//         min-height: 100vh;
//     }
// }
//
// .wave {
//     transform: translateX(0);
//     will-change: transform;
//     z-index: -1;
// }
//
// .wave1 {
//     animation: waveMove1 8s linear infinite alternate;
// }
//
// .wave2 {
//     animation: waveMove2 12s linear infinite alternate;
// }
//
// .wave3 {
//     animation: waveMove3 5s linear infinite alternate;
// }
//
// @keyframes waveMove1 {
//     0% {
//         transform: translateX(0);
//     }
//
//     100% {
//         transform: translateX(-60px);
//     }
// }
//
// @keyframes waveMove2 {
//     0% {
//         transform: translateX(0);
//     }
//
//     100% {
//         transform: translateX(-120px);
//     }
// }
//
// @keyframes waveMove3 {
//     0% {
//         transform: translateX(0);
//     }
//
//     100% {
//         transform: translateX(-180px);
//     }
// }

// Sticky footer styles
main {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100% !important;
}

.flex-grow-1 {
  flex: 1 0 auto !important;
}

app-footer {
  flex-shrink: 0 !important;
}
