<!-- <div class="wave-bg"> -->
<!--   <svg class="wave-svg" viewBox="0 0 1440 320" preserveAspectRatio="none"> -->
<!--     <path class="wave wave1" -->
<!--       d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z" -->
<!--       fill="#ffd166" fill-opacity="1"/> -->
<!--     <path class="wave wave2" -->
<!--       d="M0,180 C480,100 960,260 1440,180 L1440,320 L0,320 Z" -->
<!--       fill="#ef476f" fill-opacity="1"/> -->
<!--     <path class="wave wave3" -->
<!--       d="M0,200 C600,300 840,100 1440,200 L1440,320 L0,320 Z" -->
<!--       fill="#26547c" fill-opacity="1"/> -->
<!--   </svg> -->
<!-- </div> -->
<section class="position-fixed">
  <div class="wave">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
<!-- Content Section -->
<main [attr.data-bs-theme]="theme" class="bg-body d-flex flex-column">
  <app-navbar class="navbar navbar-expand-md fixed-top pt-0" style="height: 80px;"></app-navbar>
  <div class="overflow-y-auto overflow-x-hidden focus-hidden" style="padding-top: 90px;">
    <div class="h-100">
      <div class="m-4 h-100 rounded">
        <main class="container-xl"><router-outlet /></main>
      </div>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</main>

@if (loading) {
<div class="loading">
  <span class="loader"></span>
</div>
}

<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>